# =====================
# Node / JS
# =====================
node_modules/
backend/node_modules/
frontend/node_modules/

# =====================
# Environment variables
# =====================
.env
backend/.env
frontend/.env

# =====================
# Prisma
# =====================
backend/prisma/dev.db
backend/prisma/dev.db-journal

# Prisma generated client
src/generated/prisma
backend/node_modules/.prisma

# =====================
# Build outputs
# =====================
dist/
build/
.vite/

# =====================
# OS junk
# =====================
.DS_Store

backend/prisma/dev.db
backend/prisma/dev.db-journal
backend/prisma/dev.db-wal
backend/prisma/dev.db-shm

